
#elementos {
    border: solid black 4px;
    border-radius: 10px;
    height: 500px;
    padding-bottom: 10px;
    align-items: center;
}


#elementos:hover {
    border: 4px solid #66bb6a;
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    float: right;
    align-self: flex-end;
    justify-content: center;
}

#elementos .btn-comprar {
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #66bb6a;
    color: black;
    background: white;
}

.btn-comprar:hover {
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;

    background: #66bb6a;
    align-self: center;
}

.btn-volver {
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    float: right;
    background: white;
    align-self: center;
    border: solid #66bb6a;

}


.btn-volver:hover {
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    float: right;
    background: #66bb6a;
    align-self: center;
}


h2, h3, h5 {
    margin-top: 40px;
    text-align: center;
}


.fa-star {
    color: gold;
    padding-top: 35px;
}

#recomendado {
    padding-left: 105px;
}