
.elementos {
    border: solid black 4px;
    border-radius: 10px;
    height: 500px;
    padding-bottom: 10px;
    align-items: center;
}

.col-4 {
    padding: 0px 0px 0px 0px;
}

.elementos:hover {
    border: 6px solid #66bb6a;
    margin-top: 5px;
    /*width: fit-content;*/
    border-radius: 10px;
    float: right;
    align-self: flex-end;
    justify-content: center;
}


h2, h3, h5 {
    margin-top: 40px;
    text-align: center;
}


.fa-star {
    color: #66bb6a;
    padding-top: 35px;
}

.cont{
   margin-left:5px;
}