#form input[type="readonly"] {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="readonly"]:hover {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

#form .hidden{
    display: none;
}

.btn-edit
{
    width: fit-content;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    float: right;
    background: white;
    align-self: flex-end;
}

.btn-edit:hover
{
    width: fit-content;
    border-radius: 10px;
    color: #66bb6a;
    float: right;
    align-self: flex-end;
}