.row h1 {
    margin-top: 100px;
    text-align: center;
    color: #66bb6a;
}

label {
    margin-right: 5px;
}

textarea {
    margin-top: 5px;
    min-width: 100%;
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#titulo, #autor, #fecha, #descriptionS {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

.botones {
    width: 96%;
    display: flex;
    justify-content: space-around;
}

