<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comprar packs</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/enterprise/packs.css" rel="stylesheet">
    <link href="/css/auth/register.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/creator/profile.js"></script>
    <!--script src="/js/footer.js"></script-->
    <script src="/js/enterprise/packs.js"></script>
</head>
<body>
<header>
</header>
<main>

    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>


    <div id="form-packs" class="container"> <!--contenedor general-->



            <!--apertura de la primera fila para meter 3 paquetes de 4 cada uno-->
            <div class="row">
                <!--1º paquete-->
                <div class="col-12 col-lg-4">
                    <div class="elementos">
                        <!--contenido del paquete-->
                        <h3>PACK IDEA</h3>
                        <h5>Pack de 10 ideas</h5>
                        <h2>70€</h2>
                        <div class="row">
                            <div class="col-12 bot">
                                <button id="pack10ideas" class="btn-success">Comprar</button>
                            </div>

                        </div><!--cierre del contenido del paquete-->

                    </div>
                </div>


                <!--2º paquete-->
                <div class="col-12 col-lg-4">
                    <div class="elementos">
                        <!--contenido del 2º paquete-->
                        <!--estrella-->
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4 text-center" id="rec">
                                <i class="fas fa-star fa-2x"></i>
                            </div>
                        </div><!--cierre estrellaicon-->


                        <div class="row">
                            <!--row para el texto pack personalizado-->
                            <div class="col-12 text-center" id="recomendado"><h6>PACK PERSONALIZABLE</h6></div>
                            <!--label-->
                            <div class="col-12 text-center">
                                <label for="numIdeas"><strong>Especifica las ideas que quieres:</strong></label>
                            </div>
                            <!--input-->
                            <div class="col-12 text-center">
                                <input name="numIdeas" id="numIdeas" type="number" min="40" max="5000" value="40">
                            </div>
                            <!--texto de descuento-->
                            <div class="col-12 text-center"> <!--Ver si asi esta bien hecho para ponerlo centrado-->
                                <h5 id="descuento-seleccion">Descuento: 5%</h5> <!--Para que se muestre el descuento-->
                            </div>
                            <!--precio-->
                            <div class="col-12 text-center">
                                <h2 id="descuento-precio">266 €</h2> <!--Para que se muestre el precio final-->
                            </div>

                        </div> <!--cierre del contenedor q contiene  texto-->
                        <!--boton comprar-->
                        <div class="row">

                            <div class="col-12 bot">
                                <button id="packXideas" class="btn-success">Comprar</button>
                            </div>

                        </div>

                    </div> <!--cierre div elementos del pack 2-->
                </div><!--cierre del col4 del paquete 2-->


                <!--3º paquete-->
                <div class="col-12 col-lg-4">
                    <div class="elementos">
                        <!--contenido del 3º paquete-->
                        <h3>PACK IDEA</h3>
                        <h5>Pack de 20 ideas</h5>
                        <h2>140€</h2>
                        <div class="row">

                            <div class="col-12 bot">
                                <button id="pack20ideas" class="btn-success">Comprar</button>
                            </div>

                        </div><!--cierre del contenido del paquete-->

                    </div>
                </div>


            </div> <!--cerrado del row q contiene los 3 paquetes-->
            <div class="col-12 separator"></div>

            <form id="form">
            <!-- para la tarjeta e intencion de pago-->
                <div class="container">
                    <div id="payment">
                        <div class="row">
                            <h3>Datos de la Tarjeta</h3>
                            <div class="col-12"></div>
                        </div>
                        <div class="row">
                             <div class="col-sm-12 col-lg-6 data">
                                <label for="namecard">Nombre del Titular</label>
                                <input type="text" name="namecard" id="namecard">
                                <label for="cardNumber">Número de Tarjeta</label>
                                <input type="text" name="cardNumber" id="cardNumber">
                             </div>

                            <div class="col-sm-12  col-lg-6 data">
                                <label for="dateExp">Fecha de vencimiento</label>
                                <input type="date" name="dateExp" id="dateExp">
                                <label for="cvv">CVV</label>
                                <input type="text" name="cvv" id="cvv">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-2">
                                <input id="boton-pagar" class="btn-comprar" type="submit" value="Proceder al pago" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- boton volver-->

            <div class="col-12 separator"></div>
            <!--boton volver para q este centrado justo despues del row, esta dentro del formulario y dentro del container-->

            <div class=row>
                <div class="col-4"></div>
                <div class="col-3">
                    <button class="btn-cancel" onclick="enableFields()"><a href="/">Volver</a></button>
                </div>
                <div class="col-5"></div>
                <!--esto da una linea en blanco como el br-->
                <div class="col-12 separator"></div>
            </div> <!--cierre del row del boton volve-->



    </div><!--cierre del container-->

</main>
<footer>
</footer>
</body>
</html>