<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <link href="../../css/enterprise/packs.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/register.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>
<main>
    <div id="profile-creator" class="container">

        <div id="dos">
            <div class="row" id="cuadroUno">
                <h1>Pack IDEA</h1>
                <p>Pack de 100 ideas</p>
                <p id="elem">70 euros</p>
                <a href="/enterprise/index">
                    <button type="button" class="btn-default">Comprar</button>
                </a>
            </div>

            <div class="row" id="cuadroDos">
                <h1>Pack IDEA</h1>
                <p>Pack de 100 ideas:</p>
                <p id="elem">70 euros</p>
                <a href="/enterprise/index">
                    <button type="button" class="btn-default">Comprar</button>
                </a>
            </div>
            <div class="row" id="cuadroTres">
                <h1>Pack IDEA</h1>
                <p>Pack de 100 ideas:</p>
                <p id="elem">70euros</p>
                <a href="/enterprise/index">
                    <button type="button" class="btn-default">Comprar</button>
                </a>
            </div>
        </div>
        <div class="row" id="tres">
            <a href="/enterprise/index">
                <button type="button" class="btn-default">Volver</button>
            </a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>