<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comprar packs</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/enterprise/packs.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/creator/profile.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
<header>
</header>
<main>

    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>


    <div class="container">
        <form id="form">
        <div class="row">
            <!--1º paquete-->
            <div class="col-4 elementos">

                <h3>PACK IDEA</h3>
                <h5>Pack de 100 ideas</h5>
                <h2>70€</h2>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><button class="btn-success" type="submit"><a href="/home">Comprar</a></button></div>
                    <div class="col-4"></div>
                </div>

            </div>

            <!--2º paquete-->
            <div class="col-4 elementos">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4 text-center" id="rec">
                        <i class="fas fa-star fa-2x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center" id="recomendado"><h3>PACK IDEA</h3></div>
                </div>

                <h5>Pack de 100 ideas</h5>
                <h2>70€</h2>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><button class="btn-success" type="submit"><a href="/home">Comprar</a></button></div>
                    <div class="col-4"></div>
                </div>
            </div>

            <!--3º paquete-->
           <div class="col-4 elementos">
                <h3>PACK IDEA</h3>
                <h5>Pack de 100 ideas</h5>
                <h2>70€</h2>
               <div class="row">
                   <div class="col-4"></div>
                   <div class="col-4"><button class="btn-success" type="submit"><a href="/home">Comprar</a></button></div>
                   <div class="col-4"></div>
               </div>
            </div>
        </div>

        <div class="col-12 separator"></div>
        <div class=row>
            <div class="col-4"></div>
            <div class="col-3">
                <button class="btn-cancel" onclick="enableFields()"><a href="/">Volver</a></button>
            </div>
            <div class="col-5"></div>
        <div class="col-12 separator"></div>
        </div>
        </form>
    </div>

</main>
<footer>
</footer>
</body>
</html>