<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <link href="../../css/enterprise/viewIdea.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>

<main>
    <div>
        <div class="row">
            <h1>Final Casa de Papel</h1>
        </div>
        <div class="row" id="uno">
            <div class="titulo">
                <label>Título:</label><input type="text" id="tit" name="tit" readonly="readonly"><br>
            </div>

            <div class="autor">
                <label>Autor:</label><input type="text" id="tit" name="tit" readonly="readonly"><br>
            </div>

            <div class="fecha">
                <label>Fecha:</label></label><input type="text" id="tit" name="tit" readonly="readonly"><br>

            </div>
        </div>
    </div>
    <label id="lbl">Descripcion corta:</label><br>
    <div class="textE">
        <textarea id="dos" readonly="readonly">jdsja</textarea><br>
    </div>

    <label id="lbl">Descripcion:</label><br>
    <div class="textEdit">
        <textarea id="tres" readonly="readonly">jdsja</textarea><br>
    </div>
    </div>


    <div class="botones">
        <div class="elem">
            <a href="/enterprise">
                <button type="bot" class="btn-descartar">Descartar</button>
            </a>
            <a href="/enterprise">
                <button type="bot" class="btn-volver">Volver</button>
            </a>
        </div>
        <div class="elem">
            <a href="/enterprise/contract">
                <button type="bot" class="btn-contrato">Contratar</button>
            </a>
        </div>
    </div>


</main>
<footer>
</footer>
</body>
</html>