<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver idea</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/enterprise/viewIdea.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/enterprise/viewIdea.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
<header>
</header>

<main>
    <div class="col-12 separator"></div>
    <!-- Body -->
    <form id="form">
        <div class="container">
            <div class="row" id="elementos">
                <h3>Ver Idea</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-4 data">
                    <label for="titulo">Título</label>
                    <input name="titulo" id="titulo"  type="readonly" readonly >
                </div>

                <div class="col-sm-12 col-lg-4 data">
                    <label for="autor">Autor</label>
                    <input name="autor" id="autor"  type="readonly" readonly >
                </div>

                <div class="col-sm-12 col-lg-4 data">
                    <label for="fecha">Fecha</label>
                    <input name="fecha" id="fecha"  type="readonly" readonly >
                </div>
            </div>

            <!-- Description -->
            <div class="row">
                <div class="col-12 data">
                    <label for="descriptionS">Descripción corta</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12 data">
                    <input name="descriptionS" id="descriptionS"  type="readonly" readonly >
                </div>
            </div>

            <div class="row">
                <div class="col-12 data">
                    <label for="textArea">Descripción</label>
                    <div id="textArea"></div>
                </div>
            </div>
        </div>
    </form>

    <!-- Buttons -->
    <div class="container">
        <div class="row">
            <div class="col-9"></div>
            <div class="botones">
                <div id="return">
                    <a href="/home">
                        <button type="bot" class="btn-cancel">Volver</button>
                    </a>
                </div>
                <div id="dealIdea">
                    <!-- InnerHTML -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>
</main>
<footer>
</footer>
</body>
</html>