
#uno{
    display: flex;
    justify-content: flex-end;
}

#dos {
    background-color: black;
    color:white;

}

#tres{
    background-color: lightgrey;
}


#home-creator input[type="text"]{
    background-color: white;
    border: 2px solid #66bb6a;
    padding: 10px;
    border-radius: 5px;
    width: 20px;
}


#home-creator .btn-añadir{
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #66bb6a;
    color: black;
}

#home-creator:hover  .btn-añadir:hover{
    background: #66bb6a;

}




#botones{
    border: 2px solid #66bb6a;
    color:white;
    margin-top:80px;
    margin-left:13px;
    margin-bottom: 5px;
}


#dropdownMenu1{
    border: #66bb6a solid 2px;
    width: 120%;
}


.list-group{
    border:solid black 1px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 3px;
}
