
.btn-edit {
    width: fit-content;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    float: right;
    background: white;
    align-self: flex-end;
}

.btn-edit:hover {
    width: fit-content;
    border-radius: 10px;
    color: #66bb6a;
    float: right;
    align-self: flex-end;
}

.lista-idea {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;

}

.lista-idea:hover {


    background-color: white;
    border: 2px solid #66bb6a;
    padding: 10px;
    border-radius: 5px;
}

#add {
    margin-bottom: 14px;
}

#cont {
    vertical-items: center;
}

.jconfirm-title-c{
    color:#66bb6a;
}

