#elementos{
    margin:10px;
}

#form input[type="title"],input[type="search"], input[type="description"] {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="title"]:hover, #form input[type="search"]:hover, #form input[type="description"]:hover {
    background-color: white;
    border: 2px solid #66bb6a;
    padding: 10px;
    border-radius: 5px;
}
.text-areaC{
    width:100%;
    height:50px;
}

.text-area{
    width:100%;
    height:150px;
}

#desc{
    margin-bottom: 20px;
}