#form input[type="readonly"] {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="readonly"]:hover {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}