#elementos{
    margin:10px;
}


#form input[type="readonly"] {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="readonly"]:hover {
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

.descriptionC{
    width: 100%;
    height: 50px;
}

.description{
    width:100%;
    resize: vertical;
    overflow: auto;
    background-color: #EEEEEE;
    color: grey;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}
