<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
<header>
</header>

<main>
    <div class="col-12 separator"></div>

    <div class="container">
        <div class="row">

            <!-- IDEA Image -->
            <div class="col-5"></div>
            <div class="col-2 text-center">
                <img src="/images/logo-navbar.png" class="figure-img">
            </div>
            <div class="col-5"></div>

            <!-- Message -->
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h2>Parece que ha habido algun problema... Estamos trabajando para arreglarlo.</h2>
            </div>

            <div class="col-12 separator"></div>

            <div class="col-5"></div>
            <div class="col-2 text-center">
                <button type="button" class="btn btn-outline-success">
                    <a href="/">Ir a la pagina de inicio</a>
                </button>
            </div>
            <div class="col-5"></div>

        </div>

        <div class="col-12 separator"></div>

    </div>

</main>

<footer>
</footer>
</body>

</html>