<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="row container col-12">
        <div class="col-1"></div>

        <div class="col-3 col-lg-2">
            <p class="titulo">Empresa</p>
            <div>
                <a class="sub" href="#">Acerca de</a>
            </div>
            <div>
                <a class="sub" href="#">Empleo</a>
            </div>
        </div>

        <div class="col-3">
            <p class="titulo">Comunidad</p>
            <div>
                <a class="sub" href="#">Quiénes somos</a>
            </div>
            <div>
                <a class="sub" href="#">Inversores</a>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-1">
                <i class="fab fa-facebook"></i>
            </div>

            <div class="col-1">
                <i class="fab fa-twitter"></i>
            </div>

            <div class="col-1">
                <i class="fab fa-linkedin"></i>
            </div>

            <div class="col-1">
                <i class="fab fa-instagram"></i>
            </div>
    </div>

    <div class="col-12 separator"></div>

    <div class="row container col-12 justify-content-between">
        <div class="col-1"></div>
        <div>
            <a class="legal" href="#">Legal</a>
        </div>
        <div>
            <a class="legal" href="#">Centro de Privacidad</a>
        </div>

        <div>
            <a class="legal" href="#">Política de privacidad</a>
        </div>
        <div>
            <a class="legal" href="#">Cookies</a>
        </div>

        <div class="col-2">
            <p>&copy; IDEA 2020</p>
        </div>
    </div>
</footer>