
#uno{
    display: flex;
    justify-content: flex-end;
    margin:10px;
}
#tres{
    display: flex;
    justify-content: center;
    margin:10px;
}

#dos{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.btn-default{
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #66bb6a;
    color: black;
}


.btn-default:hover {
    background: #66bb6a;

}

h1, #elem{
    color:#66bb6a;
    font-size: 2em;
}

p{
    font-size: 2em;
}

#cuadroUno,#cuadroTres{
    border: black solid 2px;
    width: 200px;
    height: 400px;
    padding-left: 60px;
    border-radius: 10px;
}


#cuadroDos{
    border: #66bb6a solid 10px;
    width: 200px;
    height: 400px;
    padding-left: 60px;
    border-radius: 10px;
}