#form-registrar-creado .datos-generales{
    display: flex;
    flex-direction: column;
}

#form-registrar-creado .datos-creador{
    display: flex;
    flex-direction: column;
}

#form-registrar-creado h2{
    color:#6DFD30;
}

#form-registrar-creado form{
    margin-top: 70px;
}

#form-registrar-creado input[type="text"],#form-registrar-creado input[type="date"],#form-registrar-creado input[type="tel"]{
    background-color: #B2B2B2;
    padding: 9px;
    border-radius: 5px;
    border: none;
}

#form-registrar-creado label{
    margin-top: 10px;
    margin-bottom: 0px;
}

#form-registrar-creado .subtitulo{
    font-size: 11px;
    color: #6DFD30;
}
#form-registrar-creado .btn-registrarse{
        margin-top: 28px;
        width: fit-content;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid #6DFD30;
        color: #6DFD30;
        float: right;
        background: #B2B2B2;
        align-self: flex-end;
}

