<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/auth/login.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="../../js/changePassword.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>
<div id="form" class="container">
    <form class="form" method="post" action="api/auth/updatePassword" >
        <div class="row">
            <div class="col-lg-3"></div>
            <h2>Establezca su nueva contraseña</h2>
            <div class="col-12"></div>
            <div class="col-4"></div>
            <div class="col-sm-12 col-lg-4 data">
                <label for="password">Nueva contraseña</label>
                <input type="password" name="password" id="password">
                <label for="confirmPassword">Repita la contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
                <input type="submit" id="change-pass" class="btn-success" onclick= changePassword() value="Confirmar contraseña">
            </div>
            <div class="col-4"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
        </div>
    </form>
</div>

<footer>
</footer>
</body>
</html>