<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/auth/login.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>
<div id="form" class="container">
    <form class="form" method="post" action="" >
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-12"></div>
            <div class="col-4"></div>
            <div class="col-sm-12 col-lg-4 data">
                <div align='center'>
                    <h2>¿Contraseña olvidada?</h2>
                </div>
                <p align="justify">
                    <b>Introduce su dirección de correo eléctronico donde enviaremos las instrucciones para restablecer su contraseña:</b>
                </p>

                <label for="email">Correo</label>
                <input name="email" id="email" type="text" >
                <input type="submit" class="btn-success" onclick="return alert('Revise su bandeja de entrada')" value="Confirmar correo">
            </div>
            <div class="col-4"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>


        </div>
    </form>
</div>

<footer>
</footer>
</body>
</html>