<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/auth/register.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/register.js"></script>
    <script src="../../js/header.js"></script>
</head>
<body>
<div id="header"></div>
<div id="form-register" class="container">
    <form>
        <div class="row">
            <h2>Registrar usuario</h2>
            <div class="col-12"></div>

            <div class="col-12 col-lg-6 datos-generales">
                <label for="username">Username</label>
                <input name="username" id="username" type="text" >
                <label for="password">Contraseña</label>
                <input type="text" name="password" id="password">
                <span class="subtitulo">La contraseña tiene que tener 6 caracteres o más</span>

            </div>

            <div class="col-12 col-lg-6 datos-generales">
                <label for="email">Correo electrónico</label>
                <input name="email" id="email" type="text">
                <label for="imagen">Foto de perfil</label>
                <input name="imagen" id="imagen" type="file">
            </div>

            <div class="col-12 separator"></div>
        </div>


        <div class="row">
            <h3>¿Qué quieres ser?</h3>
            <div class="col-12 col-lg-2">
                <select class="form-control" id="selectType">
                    <option value="Creador", selected="selected">Creador</option>
                    <option value="Empresa">Empresa</option>
                </select>
            </div>
        </div>

        <div class="col-12 separator"></div>

        <div class="row" id="creator">
            <!-- CREATOR - GENERIC -->
            <h3>Registrar creador</h3>
            <div class="col-12"></div>

            <div class="row">
                <div class="col-12 col-lg-6 datos-generales">
                    <label for="nameCreator">Nombre del creador</label>
                    <input type="text" name="nameCreator" id="nameCreator">
                    <label for="lastName">Apellidos</label>
                    <input name="lastName" id="lastName" type="text">
                </div>

                <div class="col-12 col-lg-6 datos-generales">
                    <label for="birthDate">Fecha de Nacimiento</label>
                    <input type="date" name="birthDate" id="birthDate">
                    <label for="telephoneCreator">Teléfono</label>
                    <input type="tel" name="telephoneCreator" id="telephoneCreator">
                </div>
            </div>
        </div>

        <!-- ENTERPRISE - GENERIC -->
        <div class="row" id="enterprise">
            <h3>Registrar empresa</h3>
            <div class="col-12"></div>

            <div class="row">
                <div class="col-12 col-lg-6 datos-empresa">
                    <label for="nameEnterprise">Nombre de la empresa</label>
                    <input type="text" name="nameEnterprise" id="nameEnterprise">
                    <label for="cif">CIF</label>
                    <input name="cif" id="cif" type="text">
                </div>

                <div class="col-12 col-lg-6 datos-empresa">
                    <label for="address">Dirección</label>
                    <input name="address" id="address" type="text">
                    <label for="telephoneEnterprise">Teléfono</label>
                    <input type="tel" name="telephoneEnterprise" id="telephoneEnterprise">
                </div>
            </div>
            <div class="col-12 separator"></div>


            <!-- ENTERPRISE - CARD -->
            <h3>Datos de la tarjeta</h3>
            <div class="col-12"></div>

            <div class="row">
                <div class="col-12 col-lg-6 datos-tarjeta">
                    <label for="namecard">Nombre del Titular</label>
                    <input type="text" name="namecard" id="namecard">
                    <label for="cardNumber">Número de Tarjeta</label>
                    <input type="text" name="cardNumber" id="cardNumber">
                </div>

                <div class="col-12 col-lg-6 datos-tarjeta">
                    <label for="dateExp">Fecha de vencimiento</label>
                    <input type="date" name="dateExp" id="dateExp">
                    <label for="cvv">CVV</label>
                    <input type="text" name="cvv" id="cvv">
                </div>
            </div>
        </div>

        <!-- GENERIC -->
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <input type="submit" class="btn-registro" value="Registrarme">
            </div>

            <div class="col-12 separator"></div>
            <div class="col-12 separator"></div>
        </div>

    </form>
</div>
<div id="footer"></div>
</body>
</html>