<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/creator/eliminarIdea.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
</head>
<body>
<header>
</header>
<main>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>iDea</title>
        <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
        <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
        <link href="../../css/navbar.css" rel="stylesheet">
        <link href="../../css/footer.css" rel="stylesheet">
        <link href="../../css/creator/newIdea.css" rel="stylesheet">
        <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
        <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
        <script src="../../js/ApiController.js"></script>
        <script src="../../js/header.js"></script>
        <script src="../../js/footer.js"></script>
    </head>
    <body>
    <header>
    </header>

    <div>
        <div class="row">
            <h1>Final Casa de Papel</h1>
        </div>
        <div class="row" id="uno">
            <div class="pregunta">
                <p>¿Esta seguro que quiere borrar Casa de papel?</p>
            </div>
        </div>


        <div class="botones">
            <a href="/creator">
                <button type="bot" class="btn-default">Si</button>
            </a>
            <a href="/creator">
                <button type="bot" class="btn-default">No</button>
            </a>
        </div>


</main>
<footer>
</footer>
</body>
</html>


</main>

</body>
</html>