<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home - Creador</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/creator/index.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/creator/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>
<body>
<header>
</header>

<script>
    function confirm(id) {
        ApiController.get("ideas/" + id, null, false).then(function (idea) {
            let text= '¿Desea borrar ' + idea.title + '?';
            $.confirm({
                title: Borrar idea,
                content: text,
                buttons: {
                    aceptar: function () {
                        //llamar a borrar idea
                        ApiController.del("ideas/"+id, ).then(function (data) {
                            console.log(data);
                        });
                        window.location.href = "/home";

                    },
                    cancelar: function () {
                        /*  $.alert('Cancelado');*/
                    },
                }
            });
        });


    }

</script>

<main>
    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>
    <!--Pencil icon-->
    <div class="container">
        <!--Body-->
        <div id="form-register" class="container">

            <!-- Mis ideas-->
            <form class="row">
                <div class="col-12 col-lg-6 data mb-4" id="myIdeas">
                 <h3>Mis ideas</h3>
                    <div class="row mt-3">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-3 text-right"> <!-- Para el boton (+) de crear idea -->
                            <span class="btn-edit">
                                <a href="/creator/newIdea"><i class="fas fa-plus" style="font-size: 25px"></i></a>
                            </span>
                        </div>
                    </div>
                    <!-- innerHTML @js -->
                </div>

                <!--ideas aceptadas-->
                <div class="col-12 col-lg-6 data" id="ideas-aceptadas-html">
                    <h3>Ideas aceptadas</h3>
                    <!-- innerHTML @js -->
                    <!--div class="container lista-idea mt-5">
                        <div class="col-12">
                            <div class=" row">
                                <div class="col-12 text-left">
                                    <h3>titulo</h3>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-12 text-right">
                                    <h5>dd/mm/aaaa</h5>
                                </div>
                            </div>

                            <div class="row">
                                <a href="/creator/viewIdea" disabled>
                                    aqui va el summary de la idea en cuestion
                                </a>
                            </div>
                        </div>
                    </div-->

                </div>
            </form>
        </div>
    </div><!--container principal-->

    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>
</main>
<footer>
</footer>
</body>
</html>