<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home - Creador</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/creator/index.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/creator/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>
<body>
<header>
</header>

<script>
    function confirm() {

        $.confirm({
            title: "nombre de la idea",
            content: '¿Desea eliminar "idea"?',
            buttons: {
                aceptar: function () {
                    //llamar a borrar idea
                    $.alert('Idea borrada');
                    //recargar la pagina
                },
                cancelar: function () {
                    /*  $.alert('Cancelado');*/
                },
            }
        });
    }

</script>

<main>
    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>
    <!--Pencil icon-->
    <div class="container">
        <div class="row" id="add">
            <div class="col-1 text-left">
                <button class="btn-edit">
                    <a href="/creator/newIdea"><i class="fas fa-plus" style="font-size: 25px"></i></a>
                </button>
            </div>
            <div class="col-5"></div>
            <div class="col-6"></div>
        </div> <!--cerrado row del añadir-->

        <!--Body-->
        <div id="form-register" class="container">

            <!-- Mis ideas-->
            <form class="row">
                <div class="col-12 col-lg-6 data" id="myIdeas">
                    <h3>Mis ideas</h3>
                    <!-- innerHTML @js -->
                </div>

                <!--ideas aceptadas-->
                <div class="col-12 col-lg-6 data">
                    <h3>Ideas aceptadas</h3> <!-- Lineas 74-110 tienen que estar en el JS -->
                    <div class="container lista-idea">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 text-left"><h3>idea1</h3></div>

                                <div class="col-6 col-lg-6 data text-right"><!--iconos-->
                                    <div class="row">
                                        <div class="col-10 data text-right">
                                          <span class="btn-edit">
                                              <a href="/creator/viewIdea"> <i class="fa fa-pencil-alt"
                                                                              style="font-size: 25px"></i></a>
                                        </span>
                                        </div><!--cerrado d editar-->
                                        <div class="col-2 data text-right">
                                        <span class="btn-edit" onclick=confirm()>
                                            <a><i class="far fa-trash-alt" style="font-size: 25px"></i></a>
                                        </span>
                                        </div><!--cerrado d borrar-->
                                    </div> <!--cerrado row-->

                                </div>

                            </div>
                            <!--
                            <div class=" row">
                                <div class="col-12 text-right">
                                    <h5>dd/mm/aaaa</h5></div>
                            </div>

                            <div class="row">
                                <a href="/creator/viewIdea" disabled>Lorem
                                    ipsum dolor sit amet, sapien etiam, nunc amet
                                    dolor ac odio mauris justo ipsum dolor sit amet, sapien etiam, nunc amet
                                    dolor ac odio mauris j dolor ac odio mauris j </a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!--container principal-->

    <div class="col-12 separator"></div>
    <div class="col-12 separator"></div>
</main>
<footer>
</footer>
</body>
</html>