<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear nueva idea</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/creator/newIdea.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <!-- Necesario para el autocompletar: https://jqueryui.com/autocomplete/ -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/ApiController.js"></script>
    <script src="/js/header.js"></script>
    <!--script src="/js/creator/profile.js"></script-->
    <script src="/js/footer.js"></script>
    <script src="/js/creator/newIdea.js"></script>
</head>
<body>
<header>
</header>

<main>

    <div class="col-12 separator"></div>

    <!-- Body -->
    <form id="form">
        <div class="container">
            <div class="row" id="elementos">
                <h3>Nueva idea</h3>
            </div>
            <!-- Search option with categorie and title -->
            <div class="row">

                <!-- TITULO -->
                <div class="col-lg-4">
                    <label for="title">Titulo</label>
                    <input type="text" name="title" id="title">
                </div>

                <!-- BUSCAR EMPRESA -->
                <div class="col-lg-4">
                    <div id="container-buscar-empresa">
                        <form>
                            <label for="search-empresa" class="active">Buscar</label>
                            <input id="search-empresa" class="autocomplete" type="text" placeholder="Buscar..." autocomplete="off">
                        </form>
                    </div>
                </div>


                <!-- SELECCIONAR CATEGORIA -->
                <div class="col-lg-4">
                        <label for="search-category">Categoria:</label>
                        <select id="search-category" class="categories">
                            <!--options ==> en el js-->
                        </select>
                </div>
                <div class="col-12 separator">
                </div>



                <!--DESCRIPCIONES-->
                <div class="container" id="desc">

                    <!-- DESCRIPCION BREVE -->
                    <div class="row">
                        <label for="short-description">Descripcion corta</label>
                    </div>
                    <div class="row">
                        <input id="short-description" class="short-textarea" type="text-area" name="descripcion-corta">
                    </div>

                    <!-- DESCRIPCION DETALLADA -->
                    <div class="row">
                        <label for="large-description">Descripcion detallada</label>
                    </div>
                    <div class="row">
                        <textarea id="large-description" class="large-textarea" name="descripcion-larga" rows="6"></textarea>
                    </div>
                </div>


                <!--Botones cancel & success-->
                <div class="row btns">

                    <a href="/home" ><button class="btn-cancel">Cancelar</button></a>
                    <button id="crear-idea" class="btn-success" type="submit">Crear idea</button>


                </div>
                <div class="col-12 separator"></div>
            </div>

        </div>

    </form>


</main>
<footer>
</footer>
</body>
</html>