<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <link href="../../css/creator/newIdea.css" rel="stylesheet">
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/header.js"></script>
    <script src="/js/creator/profile.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>

<script>
    $(document).ready(function () {
        var method = "GET";
        var url = '/api/enterprises/';
        $.ajax({
            url: url,
            type: method,
            headers: {
                'Content-Type': 'application/json'
            },
            contentType: "application/json; charset=utf-8",
            mimeType: "application/json",
            dataType: 'json',
            success: function (respuesta) {
                for (var i in respuesta) {
                    $('.list-empresas-result').append('<li>' + respuesta[i].name + '</li>');
                }
            },
            error: function () {
                console.log("No se ha podido obtener la información");
            }
        });
    })
</script>
<main>

    <div class="col-12 separator"></div>

    <!-- Body -->
    <form id="form">
        <div class="container">
            <div class="row" id="elementos">
                <h3>Final casa de papel</h3>
            </div>
            <!-- Search option with categorie and title -->
            <div class="row">
                <div class="col-3">
                    <label for="title">Titulo</label>
                    <input type="title" name="title" id="title"></div>
                <div class="col-7 text-center ">
                    <label for="search">Buscar</label>
                    <input type="search" name="search" id="search">
                </div>
                <div class="col-2 text-right" id="editIcon">
                    <select class="form-control" id="selectType">
                        <option value="Categoria">Categoria</option>
                        <option value="Categoria">Categoria1</option>
                    </select>
                </div>
            </div>
            <div class="col-12 separator"></div>

            <!--Description-->
            <div class="container" id="desc">
                <div class="row">
                    <label for="description">Description corta</label></div>
                <div class="row">
                    <input class="text-areaC" type="description" name="description" id="description">
                </div>

                <div class="row">
                    <label for="description">Descripcion</label></div>
                <div class="row">
                    <input class="text-area" type="description" name="description" id="description">
                </div>
            </div>

        </div>

        </div>
    </form>


</main>
<footer>
</footer>
</body>
</html>