<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iDea</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="../../css/navbar.css" rel="stylesheet">
    <link href="../../css/footer.css" rel="stylesheet">
    <link href="../../css/creator/newIdea.css" rel="stylesheet">
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script src="../../js/ApiController.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/footer.js"></script>
</head>
<body>
<header>
</header>


<!--inicioCreator el main  /miriam/
-->


<div>
    <div class="row">
        <h1>Final Casa de Papel</h1>
    </div>
    <div class="row" id="uno">
        <div class="titulo">
            <label>Título:</label><input type="text" id="tit" name="tit"><br>
        </div>
        <div class="Cat">
            <label>Categoría:</label>

            <select name="select" id="dropdownMenu1">
                <option value="value1">Categoria 1</option>
                <option value="value2" selected>Categoria 2</option>
                <option value="value3">Categoria 3</option>
            </select>
        </div>
    </div>
</div>
<label id="lbl">Descripcion corta:</label><br>
<div class="textE">
    <textarea id="dos">jdsja</textarea><br>
</div>

<label id="lbl">Descripcion:</label><br>
<div class="textEdit">
    <textarea id="tres">jdsja</textarea><br>
</div>
</div>


<div class="botones">
    <a href="/creator">
        <button type="bot" class="btn-cancelar">Cancelar</button>
    </a>
    <a href="/creator">
        <button type="bot" class="btn-enviar">Enviar</button>
    </a>
</div>


</main>
<footer>
</footer>
</body>
</html>