html
{
    height:100%;
}

body {
    height: 85%;
}

#form .data{
    display: flex;
    flex-direction: column;
}

#form h2, h3{
    color:#66bb6a;
}

#form form{
    margin-top: 70px;
}

#form label
{
    margin-top: 30px;
}

#form input[type="text"],#form input[type="password"]{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="text"]:hover,#form input[type="password"]:hover{
    background-color: white;
    border: 2px solid #66bb6a;
    padding: 10px;
    border-radius: 5px;
}

#form input[type="text"]:visited,#form input[type="password"]:visited{
    background-color: white;
    border: 2px solid #66bb6a;
    padding: 10px;
    border-radius: 5px;
}


#form .btn-login{
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #66bb6a;
    color: black;
    float: right;
    background: white;
    align-self: flex-end;
}

#form:hover  .btn-login:hover{
    margin-top: 28px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    float: right;
    background: #66bb6a;
    align-self: flex-end;
}

#form .separator{
    height: 50px;
    width: auto;
}